{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
    <link rel="stylesheet" href="{% static 'weather/styles/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
  <header id="main-header">
    <nav><a href="/weather" id="main-logo">WeatherApp</a></nav>
    <h1>Weather in your city</h1>
</header>
<section class="section">
    <article>
        <form action="weather/weather-info.html" method="get">
        <input type="hidden" id="city" name="city" placeholder="Enter a city">
        <input class="button is-primary" type="submit" name="send" value="Show">
        </form>
        </br>
        </br>
        <h1><a href="/weather/editor.html">View Notes</a></h1>
    </article>
</section>
<section class="section">
    <article>
        <p>This WeatherApp uses the user's location to show</p>
        <p>the current weather conditions in the given city in realtime.</p>
    </article>
</section>
<script>
    // Get user coordinates
    function getCoordintes() {
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function success(pos) {
            var crd = pos.coords;
            var lat = crd.latitude.toString();
            var lng = crd.longitude.toString();
            var coordinates = [lat, lng];
            getCity(coordinates);
            return;
        }

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
            alert("Oops, something went wrong!");
            return;
        }

        navigator.geolocation.getCurrentPosition(success, error, options);
    }

        // Get city name
        function getCity(coordinates) {
        var xhr = new XMLHttpRequest();
        var lat = coordinates[0];
        var lng = coordinates[1];

        // Paste your LocationIQ token below.
        xhr.open('GET', "https://us1.locationiq.com/v1/reverse.php?key=pk.4e380a92aa8df0867480f6d36b449cbd&lat=" +
        lat + "&lon=" + lng + "&format=json", true);
        xhr.send();
        xhr.onreadystatechange = processRequest;
        xhr.addEventListener("readystatechange", processRequest, false);

        function processRequest(e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);
                var city = response.address.city;
                document.getElementById('city').value=(city)
                return;
            }
        }
    }

    getCoordintes();
</script>
</body>
</html>